@using PagedList
@using PagedList.Mvc
@model IEnumerable<SortSearchAndPagedSample.Models.AccountBook>
@{
    ViewBag.Title = "Home Page";
}


<div class="row">
    <div class="col-md-12">
        <table class="table table-bordered table-hover">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Categoryyy)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Amounttt)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Dateee)
                </th>
            </tr>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Categoryyy)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Amounttt)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Dateee)
                    </td>
                </tr>
            }

        </table>
        <nav>
            @Html.PagedListPager((IPagedList)Model, d => Url.Action("index", new
   {
       page = d
   }))
        </nav>
    </div>
    
</div>