@using PagedList
@using PagedList.Mvc
@model QueryOption<SortSearchAndPagedSample.Models.AccountBook>

@{
    ViewBag.Title = "Home Page";
}


<div class="row">
    <div class="col-md-12">
        <table class="table table-bordered table-hover">
            <tr>
                <th>
                    @*利用自行擴充的 SortableFor 來簡化並客制 DisplayName 的效果*@
                    @*@Html.DisplayNameFor(model => model.Categoryyy)*@
                    @Html.SortableFor(d => d.Categoryyy, "span")
                </th>
                <th>
                    @*@Html.DisplayNameFor(model => model.Amounttt)*@
                    @Html.SortableFor(d => d.Amounttt, "span")
                </th>
                <th>
                    @*@Html.DisplayNameFor(model => model.Dateee)*@
                    @Html.SortableFor(d => d.Dateee, "span")
                </th>
            </tr>
            @foreach (var item in Model.Result)//資料已經被封裝到 Result 內
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Categoryyy)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Amounttt)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Dateee)
                    </td>
                </tr>
            }

        </table>
        <nav>
            @Html.PagedListPager(Model.Result, d => Url.Action("index", new
   {
       page = d
   }))
        </nav>
    </div>
    
</div>